# https://github.com/JesseBrown1980/FOLLOW-THE-IS-NOT-THE-WILL-AND-WAS/blob/main/matrix/3-D-GITHUB-OF-THRUTH.md
* text=auto eol=lf
.gitattributes text eol=lf
*.flowe text eol=lf
*.hbi text eol=lf
*.hbp text eol=lf
*.md text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.sha256 text eol=lf
*.svg text eol=lf

